// colors
$color-sakura: #733657;
$color-light: #fee9d7;
$color-dark: #f9bf8f;
$color-red-accent: #e2434b;
$color-text: #34222e;
$color-black: #000000;

// grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
$item-background: orangered;
