// colors
$color-sakura: #733657;
$color-light: #fee9d7;
$color-dark: #f9bf8f;
$color-red-accent: #e2434b;
$color-text-lighter: #624057;
$color-text: #34222e;
$color-text-dark-grey: #393e46;
$color-black: #000000;
$color-white: #ffffff;
$color-grey-bg: #f4f4f4;
$color-header-primary: #e2ccba;
$color-card-green: #40806a;
$color-card-earth: #808080;
$color-card-earth-text: rgba(128, 128, 128, 0.7);
$color-card-blue: #4b6a88;
$color-card-temple-orange: #d66432;

// typography
$text-font-standard: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
$item-background: orangered;

// layout
$border-radius: 3px;
